@model dynamic

@{
    ViewBag.Title = "Acces Interdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2 class="text-center">@ViewBag.Title</h2>
    <span class=" danger"> Vous n'avez pas suffisamment de droits</span>
</div>


