@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<br />
<br />
<fieldset>
    <legend>Coordonnée de Nsia Assurance Togo</legend>
    <p>
        <address>
            BP 1120 Lomé Togo,<br />
            Tél : (228) 22-20-81-50,<br />
            <strong>Nsia:</strong>   <a href="mailto:nsiatogo@groupensia.com">nsiatogo@groupensia.com</a><br />
        </address>
    </p>
</fieldset>
<br />
<br />
<fieldset>
    <legend>Coordonnée du Développeur</legend>
    <p>
        <address>
            <abbr title="Phone">Tel : </abbr>(00228) 92952246<br />
            <strong>Email:</strong> <a href="mailto:Roger24Kt@gmail.com">Roger24Kt@gmail.com</a>
        </address>
    </p>
</fieldset>
